Debug
Chocolate/VStuido/Chocolate/.vs/Chocolate/v15/Browse.VC.opendb
Chocolate/VStuido/Chocolate/.vs/Chocolate/v15/.suo
Chocolate/VStuido/Chocolate/.vs/Chocolate/v15/.suo
Chocolate/VStuido/Chocolate/.vs/Chocolate/v15/.suo
.vs/
.bin/
.obj/
Chocolate/VStuido/Chocolate/.vs/Chocolate/v15/.suo
Chocolate/VStuido/Chocolate/.vs/Chocolate/v15/Browse.VC.db
Chocolate/VStuido/Chocolate/.vs/Chocolate/v16/.suo
Chocolate/VStuido/Chocolate/.vs/Chocolate/v16/Browse.VC.db
Chocolate/VStuido/Chocolate/.vs/Chocolate/v16/Browse.VC.opendb
Chocolate/VStuido/Chocolate/.vs/Chocolate/v16/ipch/AutoPCH/96822a39b7793be3/CHOCOLATE.ipch
Chocolate/VStuido/Chocolate/.vs/Chocolate/v16/ipch/d82dbdbecce41484.ipch
Chocolate/VStuido/Chocolate/Chocolate/Chocolate.vcxproj
Chocolate/VStuido/Chocolate/Chocolate/Chocolate.vcxproj
Chocolate/VStuido/Chocolate/Chocolate/Chocolate.vcxproj
Chocolate/VStuido/Chocolate/Chocolate/Chocolate.vcxproj
*.vcxproj
