Debug
Chocolate/VStuido/Chocolate/.vs/Chocolate/v15/Browse.VC.opendb
Chocolate/VStuido/Chocolate/.vs/Chocolate/v15/.suo
Chocolate/VStuido/Chocolate/.vs/Chocolate/v15/.suo
Chocolate/VStuido/Chocolate/.vs/Chocolate/v15/.suo
.vs/
.bin/
.obj/
Chocolate/VStuido/Chocolate/.vs/Chocolate/v15/.suo
Chocolate/VStuido/Chocolate/.vs/Chocolate/v15/Browse.VC.db
